- if current_user.present?
  %div.row
    %ul.list-group
      - @timelines.each do |timeline|
        %li.list-group-item.row
          - book = timeline.user_book.book
          %div.col-xs-6
            %div.col-xs-3
              %img{alt: book.title, src: book.image_url}
            %div.col-xs-9
              %span
                = link_to book.title, book_path(book)
          %div.col-xs-6
            %div
              %span
                = timeline.user_book.user.name
                さんが
              %span
                - case timeline.timeline_type
                - when 'add_bookshelf'
                  本棚に追加しました
                - when 'create_review'
                  レビューを作成しました
                - when 'update_review'
                  レビューを更新しました
                - when 'allow_lending'
                  貸し出しを許可しました
- else
  Kanazawabunkoは図書館サービスです。
