%div.row
  %div.col-xs-12
    %h1 本一覧

%div.row
  %div.col-xs-12
    = link_to "本の検索", search_books_path, class: 'btn btn-primary'

%div.row
  %div.col-xs-12
    %ul.list-group
      - @user_books.each do |user_book|
        %li.list-group-item
          %div.title
            = link_to user_book.book.title, user_book.book.url
          %div.img
            %img{alt: user_book.book.title, src: user_book.book.image_url}
          %div
            - if user_book.book.reviews.length == 0
              = link_to "レビューを書く" , new_book_review_path(user_book)
            - else
              = link_to "レビューを編集",  edit_review_path(user_book)
