%h1 本の検索

= form_tag search_books_path, method: :get do
  = text_field_tag :keyword
  = submit_tag '検索'
%ul
- @books.each do |book|
  %li
    %div.title
      = link_to book.title, book.url
    %div.img
      %img{alt: book.title, src: book.image_url}
