%div.row
  %h1
    = @book.title
%div.row
  %img{alt: @book.title, src: @book.image_url}
%div.row
  %h2
    登録している人
  %ul.list-group
    - @user_books.each do |user_book|
      %li.list-group-item.row
        %span
          %img{alt: user_book.user.name, src: user_book.user.icon_url, class: "img-circle", width: 50}
        %span
          = user_book.user.name
        %span
          - if user_book.have?
            貸し出し可能
          - else
            貸し出し不可
        %span
          - review = user_book.review
          - if review
            = link_to 'レビューを閲覧する', review_path(review)
