%header
  %div.navbar.navbar-default{role: :navigation}
    %div.container
      %div.navbar-header
        %button.navbar-toggle.collapsed{type: :button, data: {toggle: :collapse, target: "#global-header"}, aria: { expanded: false}}
          %span.sr-only
            Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Kanazawabunko", home_index_path, class: "navbar-brand"
      %div#global-header.collapse.navbar-collapse
        - if current_user.present?
          %ul.nav.navbar-nav
            %li
              = link_to "本棚", books_path
            %li
              %a aa
        %p.navbar-text.navbar-right
          - if current_user.present?
            = link_to 'ログアウト', logout_path
          - else
            = link_to "ログイン/サインイン", "/auth/google_oauth2"
